body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg1 {
  background-image: url("https://wallpapercave.com/wp/wp2884287.jpg");
}

.bg2 {
  background-image: url("https://cdn.theathletic.com/app/uploads/2023/12/11093134/AR1-scaled.jpeg");
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.caption .text {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  font-size: 2em;
  border-radius: 10px;
}

.dark {
  padding: 60px;
  text-align: center;
  background-color: #000;
  color: #fff;
}
